Exploracion1.png
Exploracion2.png
Exploracion4.png
Exploracion5.png
Exploracion7.png
Exploracion8.png
Propension1.png
Propension2.png
Propension3.png
Propension4.png
Propension5.png
Propension6.png
tabla_de_correlacion.png
__pycache__/